body {
    background-color: lightblue;
}

.plus-one {
    width: 45px;
}

@media screen and (max-width: 350px) {
    h2 {
        font-size: 1.5rem;
    }
}

.input-invalid {
    box-shadow: 0 0 0 0.2rem red;
}